In [25]:
#importing necessary libraries

import nltk
from nltk.tokenize import TreebankWordTokenizer
# from nltk.tokenize import sent_tokenize, word_tokenize
twt = TreebankWordTokenizer()

import re
import numpy as np
import pandas as pd

In [30]:
#enter any text in inline format like shown below, to convert to IOB

text='I(Person) love Rock-n-Roll(Music-style)'

In [31]:
#converting to IOB format in the form of a dataframe

temp=twt.tokenize(text)
i=0
j=0
d={}
while j<len(temp):
    if temp[j]=='(':
        j+=1
        d[word].append(temp[j])
        j+=2
        i+=4
    else:
        word=temp[i]
        d[word]=[]
        j+=1
        if j<len(temp):
            if temp[j]!='(':
                i+=1

df = pd.DataFrame.from_dict(d, orient='index')

l=list(d.keys())
new=''
for i in l:
    new=new+i+' '

start, end = re.search(re.escape(new), new).span()
span_list = list(twt.span_tokenize(new))

iob_list = []
for start_sp, end_sp in span_list:
    iob_tag = 'O'
    if start_sp == start:
        iob_tag = 'B'
    elif start < start_sp and end_sp <= end:
        iob_tag = 'I'
    iob_list.append(iob_tag)
    

main=twt.tokenize(new)

d1={}
d1['Sentence']=main
d1['IOB']=iob_list

dfnew=pd.DataFrame(d1)
dfnew['Entity']=list(df[0])
dfnew

      Sentence IOB       Entity
0            I   B       Person
1         love   I         None
2  Rock-n-Roll   I  Music-style

In [32]:
'''Now lets convert an IOB format to inline. Enter any dataframe like the one shown below. In our 
case, I am taking the output IOB dataframe from the previous conversion, as an example. To change that, 
just change the name in the following code '''

iob=dfnew

In [33]:
#Converting to NER inline

i=0
inline=''
s=list(iob['Sentence'])
e=list(iob['Entity'])
while i<len(s):
    if e[i] is None:
        inline+=s[i]+' '
        i+=1
    else:
        inline+=s[i]+'('+e[i]+')'+' '
        i+=1
        
inline

'I(Person) love Rock-n-Roll(Music-style) '